* {
}

#login_calendar {
    width: 50px;
    position: relative;
    left: 135px;
    top: 137px;
}

.maybe {
    font-weight: bolder;
    font-size: 50px;
    width: 500px;
    text-align: center;
    margin: 0px auto;
    margin-top: 75px;
    margin-left: 23px;
    color: #564c4d;
}

.IDPW {
    width: 500px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}


.input-group-text{
    width: 51px;
    background-color: #ecdfcf;
}

Button {
    width: 120px;
}

.btn-flat {
    background-color: #9bbfd7;
    color: white;
}

.btn-outlineflat {
    border-color: #9bbfd7;
    color: #9bbfd7;
}

#help {
    margin-left: 123px;
    height: 35px;
    width: 35px;
}


