* {
}

.IDPW {
    width: 500px;
    margin: 0px auto;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
}


.input-group-text{
    width: 51px;
    background-color: #ecdfcf;
}

Button {
    width: 120px;
}

.btn-flat {
    background-color: #9bbfd7;
    color: white;
}

.btn-outlineflat {
    border-color: #9bbfd7;
    color: #9bbfd7;
}

#help_login {
    margin-left: 123px;
    height: 35px;
    width: 35px;
}


