#badge {
    width: 12%;
    height: 12%;
    float: right;
}

/* #rewards {
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
} */

.right_val {
    float: right;
    margin-right: 15px;
}

.rank_chart {
    position: relative;
    margin-left: 30px;
    margin-right: 30px;
}