h5 {
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: bold;
}

#badge {
    width: 17%;
    height: 17%;
    float: right;
}

#rewards {
    margin-left: 10px;
    margin-right: 10px;
    width: 25px;
    height: 25px;
}

.right_val {
    float: right;
    margin-right: 15px;
}

.month {
    color: #9bbfd7;
}